.error {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.error__title {
	color: var(--red100);
	margin: 0 0 30px 0;
}

.error__detail {
	font-size: 20px;
}
